body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #000000;
}

.skull {
  top: 50%;
  left: 50%;
  width: 60vmin;
  height: 40vmin;
  transform: translate(-50%, -45%);
}

.circle {
  border-radius: 50%;
}

.square {
  width: 20vmin;
  height: 40vmin;
}

.big {
  width: 40vmin;
  height: 40vmin;
}

.eye {
  top: 30%;
  width: 20vmin;
  height: 16vmin;
}

.eye.left {
  left: 13.5%;
  transform: rotate(-30deg);
}

.eye.right {
  left: 53.5%;
  transform: rotate(30deg);
}

.teeth {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 26vmin);
  width: 6vmin;
  height: 8vmin;
}

.teeth::before {
  content: '';
  position: absolute;
  right: 8vmin;
  width: 6vmin;
  height: 8vmin;
  background: #ffffff;
}

.teeth::after {
  content: '';
  position: absolute;
  left: 8vmin;
  width: 6vmin;
  height: 8vmin;
  background: #ffffff;
}

.bone {
  width: 16vmin;
  height: 13.2vmin;
}

.small {
  width: 10vmin;
  height: 10vmin;
}

.square-small {
  left: 5vmin;
  top: 7.2vmin;
  width: 6vmin;
  height: 6vmin;
}

.bone.top {
  top: calc(50% - 25vmin);
}

.bone.bottom {
  top: calc(50% + 16vmin);
}

.bone.left {
  left: calc(50% - 41vmin);
}

.bone.right {
  left: calc(50% + 25vmin);
}

.bone.left.top {
  transform: rotate(-45deg);
}

.bone.right.top {
  transform: rotate(45deg);
}

.bone.right.bottom {
  transform: rotate(135deg);
}

.bone.left.bottom {
  transform: rotate(-135deg);
}

.absolute {
  position: absolute;
}

.left-20 {
  left: 20vmin;
}

.left-6 {
  left: 6vmin;
}

.white {
  background: #ffffff;
}

.black {
  background: #000000;
}
